* {
    box-sizing: border-box;
  }
 
/* creando el CONTENEDOR */
.container {
    margin: 0 auto;
    max-width: 1200px;  
    width: 100%;        

}

/* creando el CONTENEDOR-FLUID */
.container-fluid {
    width: 100%;
}

/* Para las FILAS */
.row::before, .row::after{  
    clear: both;        
    content: "";
    display: table;   
}

/* Crear las COLUMNAS */
[class*="col-"] { 
    float: left;
    min-height: 50px;
}


/*Construcción del ESPACIO QUE OCUPARÁN COLUMNAS   (n/12)*100 */
.col-1 {width: 8.333333333333333%;}
.col-2 {width: 16.66666666666667%;}
.col-3 {width: 25%}
.col-4 {width: 33.33333333333333%}
.col-5 {width: 41.66666666666667%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33333333333333%;}
.col-8 {width: 66.66666666666667%;}
.col-9 {width: 75%}
.col-10 {width: 83.33333333333333%;}
.col-11 {width: 91.66666666666667%;}
.col-12 {width: 100%;}

/*Construcción OFFSET o saltos a la izquierda*/
.col-offset-0 {margin-left: 0%;} 
.col-offset-1 {margin-left: 8.333333333333333%;}
.col-offset-2 {margin-left: 16.66666666666667%;}
.col-offset-3 {margin-left: 25%}
.col-offset-4 {margin-left: 33.33333333333333%}
.col-offset-5 {margin-left: 41.66666666666667%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33333333333333%;}
.col-offset-8 {margin-left: 66.66666666666667%;}
.col-offset-9 {margin-left: 75%}
.col-offset-10 {margin-left: 83.33333333333333%;}
.col-offset-11 {margin-left: 91.66666666666667%;}
.col-offset-12 {margin-left: 100%;}